@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "titulo venta "
    "titulo venta "
    "imagenes venta "
    "datos venta "
    ;
}

.banner{
    background: var(--color-banner);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.item_2, .item_3, .item_4{
    margin-left: 40px;
}

.item_1{
    background: azure;
    grid-area: venta;
}

.item_1 img{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.item_2{
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item_2 h1{
    color: var(--color-font);
    font-size: 45px;
    margin-top: 70px;
}

.item_2 h1 strong{
    color: red;
}

.item_3{
    color: var(--color-font);
    grid-area: imagenes;
}

.item_3 .images{
    margin-top: -20px;
}

.item_3 .images img{
    position: relative;
    border-radius: 50%;
    margin-left: -20px;
}

.item_3 .lorem{
    margin-top: 20px;
    font-size: 15px;
}

.item_3 .bottom button{ 
    margin-top: 25px;
    color: var(--color-font);
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    background: var(--color-bottom);
}

.item_4{
    color: var(--color-font);
    grid-area: datos;
}

.item_4, .caja_1, .caja_2, .caja_3{
    display: flex;
    position: relative;
    z-index: 2;
    width: 180%;
    align-items: center;
}

.caja_1, .caja_2, .caja_3{
    padding-left: 15px;
    font-size: 10px;
    height: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: linear-gradient(to right, rgba(255, 255, 255, 100%), rgba(255, 255, 255, 0));
}
